[submodule "ext/pybind11"]
	path = ext/pybind11
	url = https://github.com/pybind/pybind11.git
[submodule "ext/ParamHelper"]
	path = ext/ParamHelper
	url = https://github.com/statphysandml/ParamHelper.git
