.idea/
.ipynb_checkpoints/
lib/
build/config.sh
bash_scripts/project_config.sh
CMakeLists.txt
__pycache__/

include/execution/config.h.in
include/execution/config.h
examples/*
!examples/bash_scripts/
!examples/include/
examples/include/*
!examples/include/ising_model.hpp
!examples/include/save_and_load.hpp
!examples/include/simple_simulation.hpp
!examples/src/
examples/src/*
!examples/src/main.cpp
!examples/python_scripts/
